html{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    background-color: aliceblue;
}
body{
    width: 700px;
    height: 700px;
    background-color: bisque;
}